In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Pump_Tests\Initial_Campaign\Test_2021_21-07-28_1558_PT_850rpm.lvm', sep='\t', skiprows=21)

In [3]:
df.head()

,X_Value,P1 (bar),P2 (bar),P3 (bar),P4 (bar),P5 (bar),F1 (bar),F2 (bar),RPM,DP_Pump (bar),...,DPV1_CMD,DPV2_CMD,DPV3_CMD,DPV4_CMD,DPV5_CMD,Re_nodel,F1_model,V (m/s),V_model (m/s),Comment
0,0.0,0.847,0.719,2.225,1.766,1.450,1.4016,0.0092,850.0,1.494,...,20000.0,4000.0,20000.0,20000.0,4000.0,12171.375943,2.098641,1.859991,2.783409,NaN
1,0.0,0.844,0.713,2.242,1.771,1.447,1.4000,0.0080,850.0,1.506,...,20000.0,4000.0,20000.0,20000.0,4000.0,12156.405892,2.096059,1.858930,2.779985,NaN
2,0.0,0.837,0.704,2.273,1.773,1.441,1.3996,0.0080,850.0,1.529,...,20000.0,4000.0,20000.0,20000.0,4000.0,12127.713296,2.091112,1.856808,2.773424,NaN
3,0.0,0.844,0.705,2.270,1.772,1.442,1.3976,0.0068,850.0,1.569,...,20000.0,4000.0,20000.0,20000.0,4000.0,12077.813128,2.082508,1.856277,2.762012,NaN
4,0.0,0.844,0.713,2.236,1.765,1.439,1.4000,0.0076,850.0,1.565,...,20000.0,4000.0,20000.0,20000.0,4000.0,12082.803145,2.083369,1.853625,2.763153,NaN

In [4]:
selected_columns = list(range(0, 9)) + list(range(21, 26))
df = df.iloc[:, selected_columns]
df.head()

,X_Value,P1 (bar),P2 (bar),P3 (bar),P4 (bar),P5 (bar),F1 (bar),F2 (bar),RPM,DPV1_CMD,DPV2_CMD,DPV3_CMD,DPV4_CMD,DPV5_CMD
0,0.0,0.847,0.719,2.225,1.766,1.450,1.4016,0.0092,850.0,20000.0,4000.0,20000.0,20000.0,4000.0
1,0.0,0.844,0.713,2.242,1.771,1.447,1.4000,0.0080,850.0,20000.0,4000.0,20000.0,20000.0,4000.0
2,0.0,0.837,0.704,2.273,1.773,1.441,1.3996,0.0080,850.0,20000.0,4000.0,20000.0,20000.0,4000.0
3,0.0,0.844,0.705,2.270,1.772,1.442,1.3976,0.0068,850.0,20000.0,4000.0,20000.0,20000.0,4000.0
4,0.0,0.844,0.713,2.236,1.765,1.439,1.4000,0.0076,850.0,20000.0,4000.0,20000.0,20000.0,4000.0

In [5]:
col_names = ['time','P1_bar','P2_bar','P3_bar','P4_bar','P5_bar','F1_lpermin','F2','RPM','dpv1','dpv2','dpv3','dpv4','dpv5']

In [6]:
len(df.columns) == len(col_names)

True

In [7]:
-4000/160

-25.0

In [8]:
new_cols = dict(zip(df.columns,col_names))
df = df.rename(columns = new_cols)
df.columns
df.head()

,time,P1_bar,P2_bar,P3_bar,P4_bar,P5_bar,F1_lpermin,F2,RPM,dpv1,dpv2,dpv3,dpv4,dpv5
0,0.0,0.847,0.719,2.225,1.766,1.450,1.4016,0.0092,850.0,20000.0,4000.0,20000.0,20000.0,4000.0
1,0.0,0.844,0.713,2.242,1.771,1.447,1.4000,0.0080,850.0,20000.0,4000.0,20000.0,20000.0,4000.0
2,0.0,0.837,0.704,2.273,1.773,1.441,1.3996,0.0080,850.0,20000.0,4000.0,20000.0,20000.0,4000.0
3,0.0,0.844,0.705,2.270,1.772,1.442,1.3976,0.0068,850.0,20000.0,4000.0,20000.0,20000.0,4000.0
4,0.0,0.844,0.713,2.236,1.765,1.439,1.4000,0.0076,850.0,20000.0,4000.0,20000.0,20000.0,4000.0

In [9]:
df[['RPM']] = df[['RPM']].astype(int)
df['RPM'].dtype
df.head()

,time,P1_bar,P2_bar,P3_bar,P4_bar,P5_bar,F1_lpermin,F2,RPM,dpv1,dpv2,dpv3,dpv4,dpv5
0,0.0,0.847,0.719,2.225,1.766,1.450,1.4016,0.0092,850,20000.0,4000.0,20000.0,20000.0,4000.0
1,0.0,0.844,0.713,2.242,1.771,1.447,1.4000,0.0080,850,20000.0,4000.0,20000.0,20000.0,4000.0
2,0.0,0.837,0.704,2.273,1.773,1.441,1.3996,0.0080,850,20000.0,4000.0,20000.0,20000.0,4000.0
3,0.0,0.844,0.705,2.270,1.772,1.442,1.3976,0.0068,850,20000.0,4000.0,20000.0,20000.0,4000.0
4,0.0,0.844,0.713,2.236,1.765,1.439,1.4000,0.0076,850,20000.0,4000.0,20000.0,20000.0,4000.0

In [10]:
df.shape

(1200, 14)

In [11]:
def select_data(row_num):
    content = df.loc[row_num,['P1_bar','P2_bar','P3_bar','P4_bar','P5_bar','RPM','F1_lpermin']]
    content= content.to_dict()
    return content

In [25]:
def show_dpv(row_num):
    dpv = df.loc[row_num,['dpv1','dpv2','dpv3','dpv4','dpv5']]
    dpv = (dpv/160) - 25
    return dpv

In [33]:
import requests
row_num = int(input("Enter a row number (0-1200): "))
aws = 'http://ec2-35-86-109-50.us-west-2.compute.amazonaws.com:8000'
r = requests.post(aws, json= select_data(row_num))
print(r.status_code)
response = r.json()
#print(response)
result = pd.DataFrame(list(response.items()), columns =['Response','Values'])
print(result.head(15))

show_dpv(row_num)

200
                         Response  Values
0                  SPC_prediction    1.00
1       Filter Pressure Ratio (%)   84.53
2             Filter Capacity (%)   86.00
3  Pump Volumetric Efficiency (%)   74.64
4        Valve Pressure Ratio (%)   79.19
5              Valve Capacity (%)   46.00
6       Nozzle Pressure Ratio (%)   82.18
7             Nozzle Capacity (%)   55.00
8               Pipe Capacity (%)   55.00

dpv1    100.0
dpv2      0.0
dpv3    100.0
dpv4    100.0
dpv5      0.0
Name: 10, dtype: float64